<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unileon.happycow" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".controller.ListFarm"
            android:label="@string/title_activity_list_farm" >
        </activity>
        <activity
            android:name=".controller.Admin"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".controller.Administrator"
            android:label="@string/title_activity_administrator" >
        </activity>
    </application>

</manifest>
